html {
  font-family: arial;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
}

div#tic-tac-toe{
  display: block;
  margin: auto;
  width: 40%;
}

div.cell {
  border: 1px solid #1a9ddb;
  float: left;
  font-size: 5rem;
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  vertical-align: middle;
  width: 8rem;
}

div.row {
  clear: both;
}

