html {
  font-family: 'El Messiri', sans-serif;
  font-size: 1rem;
  color: white;
  background-image: url('./rainbows.jpg');
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 3rem;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 5rem;
}

div.message {
  font-size: 1.5rem;
}
div#tic-tac-toe{
  display: block;
  /*margin: auto;*/
  width: 40%;
  z-index: -1;
  margin-top: 10rem;

}

div.button {
  width: 12rem;
  height: 6rem;
  border-radius: .50rem;
  border: .15rem solid white;
  line-height: 6rem;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
}

div.cell:hover, div.team:hover, div.button:hover {
  background-color:rgba(192,192,192,0.3);
}

div.cell:active, div.team:active, div.button:active {
  background-color:rgba(192,192,192,0.6);
}

div.cell, div.team {
  border: .15rem solid white;
  border-radius: .50rem;
  float: left;
  font-size: 4.5rem;
  height: 6rem;
  line-height: 7rem;
  text-align: center;
  vertical-align: middle;
  width: 6rem;
  margin: .25rem;
}

div.row {
  clear: both;
}

